@model LabReservation.Models.CircularButton

@{

}

<link rel="stylesheet" type="text/css" href="css/circularButton.css">

<label class="circular-container" tabindex="0">
    <input name="@Model.key" id="@Model.key" onClick="onClickHandler(this.id)" type="checkbox">
    <span class="checkmark">
        <p>20</p>
    </span>
</label>

<script type="text/javascript">

    function onClickHandler(id) {
        var checkBox = document.getElementById(id);
    @* console.log(checkBox.checked) *@
    }

</script>