@model LabReservation.Models.CircularButton

@{

}

<link rel="stylesheet" type="text/css" href="css/circularButton.css">

<button id="@Model.key" class="circular-btn-container" onClick="onClickHandler(this.id)">20</button>

<script type="text/javascript">
    @* document.getElementById("circular-btn").classList.add("success-btn"); *@

        function onClickHandler(id) {
            document.getElementById(id).classList.add("check-btn");
            document.getElementById(id).innerHTML = "ch"
        }

</script>