# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.LabReservation.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\SEVEN\Documents\GitHub\project-software-studio\LabReservation\.idea\.idea.LabReservation.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
