<link rel="stylesheet" type="text/css" href="~/css/labmanageCard.css">

<div class="card">
    <div class="card-main">
        <div class="card-header">
            <h3 class="lab-name">LAB001</h3>
        </div>
        <div class="card-detail">
            <p>equipment : Router</p>
            <p>current amount : 20</p>
        </div>
    </div>
</div>
