<link rel="stylesheet" type="text/css" href="css/home.css" />

<div class="container">
    <div class="card">
        <h1>LAB001</h1>
        <div class="card-status">
            <div class="status">Status
                <p>Avaiable</p>
            </div>
            <div class="equipment">Equipment
                <p>Router</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h1>LAB<br>001</h1>
        <div class="card-status">

        </div>
    </div>
    <div class="card">
        <h1>LAB<br>001</h1>
        <div class="card-status"></div>
    </div>
    <div class="card">
        <h1>LAB<br>001</h1>
        <div class="card-status"></div>
    </div>
</div>