@model LabReservation.Models.LabCardInfo;

<link rel="stylesheet" type="text/css" href="css/labCard.css" />

<div class="card">
    <div class="card-name">
        <h1>@Model.name</h1>
    </div>

    <div class="card-status">
        <div class="status">Status
            <p>@Model.notAvailable</p>
        </div>
        <div class="equipment">Equipment
            <p>@Model.equip</p>
        </div>
    </div>
</div>