@model LabReservation.Models.AuthenModel

@section Scripts
{
    <link href="~/css/signin.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Sign in";
}
<div class="login-container">
    <div class="login-left">
        <a asp-action="Register">
            <button type="button" class="register-btn">
                Create Account
                <span class="material-icons">arrow_forward</span>
            </button>
        </a>
        <h1>Sign In</h1>
        <form asp-action="Login">
            <div class="form-group">
                <input asp-for="email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn login-btn">Login</button>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="login-right">
        <img src='@Url.Content("~/Images/Logo_Nav.svg")' alt="logo" class="logo">
        <div class="sm-box">
            <div class="sm-logo">
                <span>Location</span>
                <span class="material-icons">place</span>
            </div>
            <span class="sm-desc">ECC Building</span>
            <div class="sm-logo">
                <span>Opening Hours</span>
                <span class="material-icons">watch_later</span>
            </div>
            <span class="sm-desc">08:00 - 18:00</span>
        </div>
        <img src='@Url.Content("~/Images/login.svg")' alt="logo" class="login-pic">
    </div>
</div>

