@model LabReservation.Models.RegisterModel

@{
    ViewData["Title"] = "Sign up";
}

@section Scripts
{
  <link href="~/css/register.css" rel="stylesheet" />
}

@* <h1>Index</h1> *@
@* *@
<div class="w-screen h-screen flex-center">
    <div class="sign-box">
        
        <div class="detail">
            <div class="Logo">
                <img src='@Url.Content("~/Images/Ellipse 10.svg")' alt="Image">
                <h1 class="front">LAB</h1>
                <h1 class="back">RESERVE</h1>
            </div>
            
            <div class="sm-box">
                <div class="sm-logo">
                    <span>Reservation Rule</span>
                    @* <span class="material-icons">place</span> *@
                </div>
                <ul>
                    <li class="sm-desc">1. จองได้เป็นช่วง ช่วงละ 1 ชั่วโมง และจองได้ล่วงหน้า 7 วัน</li>
                    <li class="sm-desc">2. สามารถจองได้ตั้งแต่ 08:00 ถึง 18:00 น. ทุกวัน</li>
                    <li class="sm-desc">3. ผู้ใช้สามารถจองได้ 1 ชิ้น/ห้อง</li>
                    <li class="sm-desc">4. การยกเลิกจะต้องยกเลิกก่อนเวลาที่จองไว้ได้ 1 ชั่วโมง</li>
                </ul>
            </div>
            <div class="contact">
                <div class="sm-logo">
                    <span class="material-icons">phone_in_talk</span>
                    <span>Contact us</span>
                </div>
                <div style="margin-top: 10px">
                    08X-XXX-XXXX<br/>
                    admin@labreserv.com
                </div>
            </div>
            @* <img src='@Url.Content("~/Images/login-pic.png")' alt="Image"> *@
        </div>
        
        <div class="sign-in">
            <h1>Sign Up</h1>
            <form asp-action="Register">
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="alternative-form-group">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="confirm your password"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                
                
            <div class="form-group login-left">
                <input type="submit" value="Register" class="btn login-btn"/>
            </div>
            </form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</div>

