@model LabReservation.Models.UserEmail

<link href="~/css/emailCard.css" rel="stylesheet" />

<div class="email-card">
    <div class="email-info">@Model.email</div>
    @Html.ActionLink("", "UnBlock", "Blacklist", new {userid = @Model.user_id}, new {@class="fas fa-undo"})
    @* <button><i class="fas fa-undo"></i></button> *@
</div>