@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
    var listLabID = new List<int>() { 1, 2, 3, 4, 5 };
}


<div class="text-center">
    @* <h2 class="display-4">LabReservation</h2> *@
    @* <h1 class="home">show reserve queue</h1> *@
    @* <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
        </div> *@

    @await Component.InvokeAsync("LabCard")

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div>
    @foreach (var item in listLabID)
    {
        <div>
            @await Component.InvokeAsync("LabManageCard", new {id = @item})
        </div>
    }
</div>

</div>
