@using Microsoft.AspNetCore.Identity
@using LabReservation.Models;
@using LabReservation.Controllers;
@{
    ViewData["Title"] = "Home Page";
    var listLabID = new List<int>() {1, 2, 3, 4, 5};
}


<div class="text-center">
    @* <h2 class="display-4">LabReservation</h2> *@
    @* <h1 class="home">show reserve queue</h1> *@
    @* <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
        </div> *@

    <a href="https://docs.microsoft.com/aspnet/core">
    </a>

    @* <form asp-controller="Reserveinfo" asp-action="Confirm" style="width: 100px; height: 100px; background-color:
        red"> *@
    @* <button asp-controller="Reserveinfo" style="width: 100px; height: 100px; background-color: red" *@
    @* onclick="location.href='@Url.Action("Confirm","Reserveinfo", temp)'" *@
    @* /> *@
    @Html.ActionLink("Confirm", "Confirm", "Reserveinfo", "", "")
    @* </form> *@
</div>
