@using Microsoft.AspNetCore.Identity
@using LabReservation.Models;
@using LabReservation.Controllers;
@model IEnumerable<LabReservation.Models.LabCardInfo>;
@{
    ViewData["Title"] = "Home Page";
    var listLabID = new List<int>() { 1, 2, 3, 4, 5 };
}

@section Scripts{
<link href="~/css/home.css" rel="stylesheet" />
}


<div class="container">
    @foreach (var item in @Model)
    {
        @await Component.InvokeAsync("LabCard",new {lab = @item})
    }
</div>
