<link rel="stylesheet" type="text/css" href="css/cardpartner.css" />

<div class="cardpartner">
    <div class="partner-logo">
        <h1>LOGO</h1>
    </div>
    <div class="check-lab">
        Check Available
        <i class="fas fa-chevron-circle-right"></i>
    </div>
</div>