@model LabReservation.Models.PartnerLab;

<link rel="stylesheet" type="text/css" href="css/cardpartner.css" />

<div class="card-partner" tabindex="0">
    <a href="https://software-studio-ce57.herokuapp.com/SelectEquipment/index/@Model.toolName">
        <div class="card-partner-name" title="@Model.room">
            <div class="card-partner-name-area">@Model.room</div>
        </div>

        <div class="card-partner-status">
            <div class="partner-equipment">Equipment
                <p>@Model.toolName</p>
            </div>
            <div class="partner-status">Amount
                <p>@Model.maxCount</p>
            </div>
        </div>
    </a>
</div>