@model LabReservation.Models.PartnerLab;

<link rel="stylesheet" type="text/css" href="css/cardpartner.css" />

<div class="cardpartner">
    <a href="https://software-studio-ce57.herokuapp.com/SelectEquipment/index/@Model.toolName">
        <div class="partner-name">
            <h3>@Model.room</h3>
            <h4>@Model.toolName</h4>
        </div>
        <div class="check-lab">
            Check Available
            <i class="fas fa-chevron-circle-right"></i>
        </div>
    </a>
</div>