<link rel="stylesheet" type="text/css" href="css/cardpartner.css" />

<div class="cardpartner">
    <a asp-controller="LabPartner">
        <div class="partner-name">
            <h4>Our Partner Lab</h4>
        </div>
        <div class="check-lab">
            Check Available
            <i class="fas fa-chevron-circle-right"></i>
        </div>
    </a>
</div>