@* @model LabReservation.Models.Blacklist *@

<link href="~/css/emailCard.css" rel="stylesheet" />

<div class="email-card">
    <div class="email-info">Email</div>
    @* <button><i class="fas fa-ban"></i></button> *@
    <button><i class="fas fa-undo"></i></button>
</div>