.container-blacklist {
  width: 70vw;
  height: 500px;
  /* border: solid black 2px; */
  margin: 56px auto 0 auto;
}

.blacklist-header {
  height: 74px;
  font-size: 32px;
  font-weight: bold;
  color: var(--blue-500);
}

.users-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notblock-area,
.wasblock-area {
  margin-top: 10px;
  height: 60vh;
  width: 33vw;
  overflow-y: auto;
}

.notblock-header,
.block-header {
  border-bottom: solid #d8d8d8 2px;
  width: 33vw;
  font-size: 24px;
  font-weight: 500;
}
