.circular-btn-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.circular-btn-container:focus {
  outline: none;
}

.success-btn {
  color: var(--success);
  border: 2px solid var(--success);
}

.success-btn:hover {
  color: var(--white);
  background-color: var(--success);
}

.check-btn {
  color: var(--white);
  background-color: var(--blue-500);
}
