.sign-box{
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 70vh;
  margin: 0px 233px 0px 233px;
  justify-content: center;
}

.sign-in{
  width: 15vw;
  background: #3D8BFD;
  /*padding-left: 33px;*/
  /*padding-right: 33px;*/
  padding: 0px 33px 0px 33px;
  border-radius: 20px;
  position: relative;
}

.sign-in>h1{
  margin-top: 171px;
  margin-bottom: 70px;
  color: #FFFFFF;
  float: right;
}

.detail{
  /*background-color: #0c5460;*/
  width: 28vw;
  position: relative;
}

.detail>img{
  float: right;
  width: 20vw;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.float-right{
  float: right;
}

.login-btn{
  background: white;
  border-radius: 5px;
  color:#0A58CA;
  font-size: 16px;
  font-weight: bold;
}

.login-left{
  position: absolute;
  bottom: 0;
  right: 33px;
}


.Logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: #0A58CA;
}
.Logo>.front{
  font-weight: 700;
}
.Logo>.back{
  font-weight: 400;
}
.Logo>img{
  width: 3vw;
  height: auto;
}

.sm-box{
  position: relative;
}
.sm-box>span, .sm-logo{
  font-size: 1vw;
}
.Logo>h1{
  font-size: 2.5vw;
}

.sm-logo{
  color: #0A58CA;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 21px;
  align-items: center;
  
}

.sm-logo>.material-icons{
  /*margin: 0 10px 0 10px;*/
}

.sm-desc{
  display: flex;
  flex-direction: row;
  color: #0D6EFD;
  font-weight: 400;
  font-size: 1vw;
}

ul{
  list-style-type: decimal;
  padding: 0;
  margin-top: 15px;
}

.contact{
  position: absolute;
  left: 0;
  bottom: 0;
  flex-direction: row;
  padding: 10px;
  color: #0D6EFD;
}

.signin-left{
  position: absolute;
  left: 0px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 15px;
  background: rgba(10, 88, 202, 0.18);
  border-radius: 20px;
}

.signin-left>.material-icons{
  padding-left: 10px;
  color: white;
}
