.layout {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 60%;
}

.layout_main {
  margin: auto;
}

.lab-name {
  color: var(--blue-500);
}

.equiment-name {
  margin: 0.75rem 0;
}

.back-content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 5px;
  margin-bottom: 16px;
}

.back-content button {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  background-color: transparent;
  color: var(--blue-500);
  font-size: 1rem;
}

.back-content p {
  color: var(--blue-500);
  font-size: 1rem;
}

.back-content:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
