.layout {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 60%;
}

.layout_main {
  margin: auto;
}

.page-nav button {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue-500);
}

.page-nav button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.header h1 {
  color: var(--blue-500);
}

.info-wrapper {
  display: flex;
}

.info-box {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border: solid 1px var(--blue-600);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.info-box .head {
  background-color: var(--blue-500);
  color: white;
  padding: 5px;
}

.info-box .info {
  color: var(--blue-500);
  padding: 5px;
  font-weight: 500;
}

.toast {
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background-color: var(--blue-400);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: bolder;
}

.toast.success {
  background-color: var(--success);
}

.toast.failed {
  background-color: var(--danger);
}

.toast > button {
  margin-left: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  font-size: 22px;
  border-radius: 50%;
  transition: all ease-in-out 150ms;
}

.toast > button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
