@model IEnumerable<LabReservation.Models.LabManageInfo>

@{
    ViewData["Title"] = "Lab Management";
}

<link rel="stylesheet" type="text/css" href="~/css/labmanageLayout.css">

<div>
    <div>
        <h1 class="h-lab-manage"> Lab Management </h1>
    </div>
    @foreach (var item in @Model)
    {
        <div>
            @await Component.InvokeAsync("LabManageCard", new {lab_info = @item})
        </div>
    }
</div>
