@model LabReservation.Models.UserEmail

<link href="~/css/emailCard.css" rel="stylesheet" />

<div class="email-card">
    <div class="email-info">@Model.email</div>
    <button><i class="fas fa-ban"></i></button>
</div>